<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>
  <body>
   <form method="POST" action="/">
    <p>Name:<input type = "text" name="name"></p>
    <p>Breed:<input type = "text" name="breed"></p>
    <p>Age:<input type = "text" name="age"></p>
    <p>Ship:<input type = "text" name="ship[name]"></p>
    <p>Type:<input type = "text" name="ship[type]"></p>
    <p>Booty:<input type = "text" name="ship[booty]"></p>
    <input type="submit" value= "submit"></p>
  </form>
  </body>
</html>